<!doctype html>

<html>
    <head>
        <meta charset="utf-8">
        <title>JrUtil task status: {{ checkpoints.start }}</title>

        <style>
            body {
                font-display: sans-serif;
                max-width: 800px;
            }
        </style>
    </head>
    <body>
        <b>Task start: {{ start_time }}</b>

        <h1>Checkpoints:</h1>

        <table>
            <tbody>
                <tr><td>Orchestration script started</td>
                    <td>{{ checkpoints.start }}</td></tr>
                <tr><td>Virtual machine set up</td>
                    <td>{{ checkpoints.vm_setup }}</td></tr>
                <tr><td>PostgeSQL database created</td>
                    <td>{{ checkpoints.init_pg }}</td></tr>
                <tr><td>JrUtil built</td>
                    <td>{{ checkpoints.jrutil_build }}</td></tr>
                <tr><td>CIS JŘ data downloaded</td>
                    <td>{{ checkpoints.cisjr_download }}</td></tr>
                <tr><td>CIS JŘ data extracted</td>
                    <td>{{ checkpoints.cisjr_extract }}</td></tr>
                <tr><td>CIS JŘ data processed</td>
                    <td>{{ checkpoints.jrutil_merge_gtfs }}</td></tr>
                <tr><td>Task script ended</td>
                    <td>{{ checkpoints.task_end }}</td></tr>
                <tr><td>Orchestration script ended</td>
                    <td>{{ checkpoints.end }}</td></tr>
            </tbody>
        </table>

        <table>
            {% for cn, ct in checkpoints.items() %}
                <tr><td>{{ cn }}</td><td>{{ ct }}</td></tr>
            {% endfor %}
        </table>
    </body>
</html>
